.about {
    &__block {
        display: flex;
        flex-direction: column;
        background: #363958;
        border-radius: 15px;
        padding-bottom: 165px;
        max-width: 1500px;
        @media (max-width: 1919px) {
           padding-bottom: 80px;
        }
        @media (max-width: 575px) {
           padding-bottom: 40px;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        padding: 0 30px 0 0;
        @media (max-width: 767px) {
           flex-direction: column;
           padding: 0;
        }
    }
    &__img {
        @media (max-width: 1919px) {
           min-width: 300px;
        }
        @media(max-width: 575px) {
            min-width: auto;
            width: 200px;
        }
        img {
            @media (max-width: 1919px) {
                max-width: 100%;
                width: 100%;
            }
         }
    }
    
    &__descr {
        padding: 0 50px;
        @media (max-width: 767px) {
           padding: 0;
           margin-top: 50px;
        }
    }
    &__text {
        font-size: 32px;
        line-height: 125%;
        @media (max-width: 1919px) {
           font-size: 22px;
        }
        @media (max-width: 767px) {
           padding: 0 30px;
        }
        @media (max-width: 575px) {
           text-align: center;
           font-size: 19px;
           line-height: 130.5%;
           font-weight: 400;
        }
    }
    &__info {
        margin-top: 60px;
        background: #363958;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        font-weight: 500;
        @media (max-width: 1919px) {
           margin-top: 40px;
        }
        @media (max-width: 575px) {
           padding: 35px 10px;
        }
    }
    &__title {
        font-size: 35px;
        line-height: 40px;
        @media (max-width: 1919px) {
           font-size: 25px;
           line-height: 28px;
        }
        @media (max-width: 575px) {
            font-size: 28px;
            line-height: 32px;
        }
    }
    &__item {
        &s {
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-top: 35px;
            @media (max-width: 1400px) {
               flex-direction: column;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #2A2D45;
        border-radius: 15px;
        width: calc(33.33333% - 20px);
        margin-right: 30px;
        padding: 25px 15px;
        @media (max-width: 1400px) {
           width: 100%;
           margin-right: 0;
           margin-bottom: 30px;
        }
        @media (max-width: 575px) {
           margin-bottom: 20px;
           padding: 15px;
        }
        &:first-child {
            .about__name {
                color: #3FBAFF;
            }
        }
        &:nth-child(2) {
            .about__name {
                color: #5EFF5A;
            }
        }
        &:last-child {
            .about__name {
                color: #FFD951;
            }
        }
        &:nth-child(2), &:last-child {
            .about__icon {
                padding: 18px;
            }
        }
        &:last-child {
            margin-right: 0;
            @media (max-width: 1400px) {
               margin-bottom: 0;
            }
        }
    }
    &__icon {
        background: #363958;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        padding: 12px;
        position: relative;
        @media (max-width: 1919px) {
           width: 56px;
           height: 56px;
        }
        &:before {
           content: '';
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           width: 21px;
           height: 23px;
           filter: blur(35px);
        }
        &.users {
            &:before {
                background: #3FBAFF;
            }
        }
        &.transaction {
            &:before {
                background: #5EFF5A;
                width: 25px;
                height: 25px;
                filter: blur(30px);
            }
        }
        &.bnb {
            &:before {
                background: #FFD951;
                width: 24px;
                height: 24px;
            }
        }
        img {
           max-width: 100%;
           width: 100%;
        }
    }
    &__name {
        margin-top: 20px;
        font-size: 30px;
        line-height: 34px;
        @media (max-width: 1919px) {
           font-size: 20px;
           line-height: 24px;
           text-align: center;
           margin-top: 10px;
        }
        
    }
    &__subtitle {
        margin-top: 20px;
        font-size: 35px;
        line-height: 40px;
        @media (max-width: 1919px) {
           margin-top: 10px;
           font-size: 25px;
           line-height: 29px;
        }
    }
}